extends layouts/main

//- Página de inicio
block contenido
  h1 Bienvenido a Code Solutions
  p Sistema de gestión de proyectos

  .menu
    a.btn(href="/empleados") Gestionar Empleados
    a.btn(href="/proyectos") Gestionar Proyectos
    a.btn(href="/tareas") Gestionar Tareas
    a.btn(href="/reportes") Ver Reportes
