//- Header con menú de navegación
header
  nav
    ul
      li: a(href="/") Inicio
      li: a(href="/empleados") Empleados
      li: a(href="/proyectos") Proyectos
      li: a(href="/tareas") Tareas
      li: a(href="/reportes") Reportes
